.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/mexican-pattern.png");
  width: 100vw;
  height: 100vh;
}

.spinner-container {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 15px solid hsl(120, 60.7%, 33.9%, 0.6);
  border-radius: 50%;
  border-top-color: hsl(120, 60.7%, 33.9%);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}