.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #007ba7;
  color: #fff;
  border: 1px solid #007ba7;
}

.btn--medium {
  font-size: 18px;
  padding: 8px 20px;
}

.btn--large {
  font-size: 20px;
  padding: 12px 26px;
}

.btn--large:hover,
.btn--medium:hover {
  background: none;
  color: #00bfff;
  border: 1px solid #00bfff;
  transition: all 0.3s ease-out;
  transition: 250ms;
}