.hero-container {
  background-image: url("../../assets/images/pattern.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem calc((100vw - 81.25rem) / 2);
  width: 100%;
  min-height: 100%;
  box-shadow: inset 0 0 0 62.5rem hsl(197.5, 44.4%, 10.6%, 0.4);
  object-fit: contain;
}

.hero-container>.left {
  display: block;
  position: relative;
  left: -18.75rem;
  top: 14.375rem;
  width: 31.25rem;
  max-height: 31.25rem;
}

.hero-container .left>h1 {
  background-color: hsl(20.5, 89%, 64.5%, 0.7);
  color: hsl(0, 0%, 100%);
  font-size: 3.125rem;
  text-transform: uppercase;
  margin-top: -6.25rem;
  margin-bottom: 1.875rem;
  box-shadow: 0.5rem 0.5rem hsl(120, 60.7%, 33.9%, 0.7);
  border-radius: 4px;
}

.hero-container .left>p {
  color: hsl(0, 0%, 100%);
  font-family: "Signika", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
}

.hero-container .right {
  content: url("../../assets/images/hero-img.png");
  position: relative;
  left: 40.625rem;
  bottom: 22.5rem;
  width: 100%;
  max-width: 31.25rem;
  max-height: 31.25rem;
}

.hero-btns {
  text-align: center;
  margin-top: 2rem;
}

.fa-play-circle {
  margin-left: 0.25rem;
}

@media screen and (max-width: 60em) {
  .hero-container>.left {
    position: relative;
    top: 11.25rem;
    left: -12.5rem;
  }

  .hero-container .left>h1 {
    font-size: 3.75rem;
    margin-top: -9.375rem;
  }

  .hero-container .right {
    position: relative;
    bottom: 25rem;
    left: 33.125rem;
    width: 25rem;
    max-width: 31.25rem;
  }
}

@media screen and (max-width: 48em) {
  .hero-container>.left {
    position: relative;
    top: 3.125rem;
    left: 0;
    width: 65%;
  }

  .hero-container .left>h1 {
    font-size: 3.125rem;
    margin-top: -6.25rem;
  }

  .hero-container .left>p {
    font-size: 1.875rem;
  }

  .hero-container .right {
    content: none;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}