.specials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    height: 600px;
    background: linear-gradient(150deg, #682c0e 40%, #228b22 100%);
}

.specials-container>h1 {
    color: #fff;
    font-size: 12px;
    margin-top: -100px;
}

.specials-wrapper {
    display: flex;
    width: 300px;
    margin: 0 32px;
}

.specials-wrapper>p {
    color: #fff;
    font-size: 12px;
    font-family: "Signika",
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    margin-top: 8px;
}

.specials-btns {
    margin-top: 32px;
}

.specials-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .specials-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .specials-container>h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .specials-container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}