.specials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    height: 600px;
    background: linear-gradient(150deg, #682c0e 40%, #228b22 100%);
}

.specials-container>h1 {
    color: #fff;
    font-size: 12px;
    margin-top: -100px;
}

.specials-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.specials-wrapper .specials-img {
    min-width: 300px;
    max-width: 100%;
    height: 300px;
    box-shadow: 8px 8px #fff;
}

.specials-wrapper .menu {
    background-image: url("../../images/menu-special.jpg");
    width: 200px;
    height: 200px;
}

.specials-wrapper .dessert {
    background-image: url("../../images/dessert-special.jpg");
    width: 200px;
    height: 200px;
}

.specials-wrapper>p {
    color: #fff;
    font-size: 12px;
    font-family: "Signika",
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    margin-top: 8px;
}

.specials-btns {
    margin-top: 32px;
}

.specials-btns .btn {
    margin: 6px;
}

@media screen and (max-width: 960px) {
    .specials-container>h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .specials-container>h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .specials-container>p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}