.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, hsl(20, 76.3%, 23.1%) 35%, hsl(153.6, 100%, 21%) 100%);
  color: hsl(0, 0%, 100%);
  padding: 5rem calc((100vw - 81.25rem) / 2);
  width: 100%;
  min-height: 100%;
}

.footer-container .footer-heading {
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-transform: uppercase;
  text-align: center;
}

.footer-content {
  margin: 3rem 0 0 5rem;
  max-width: 40rem;
  width: 100%;
  text-align: left;
  padding: 5rem calc((100vw - 81.25rem) / 2);
}

.footer-wrapper {
  display: flex;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 1rem 3.125rem;
  max-width: 31.25rem;
  width: 50%;
  box-sizing: border-box;
}

.footer-items h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}

.footer-items a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-items a:hover {
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-out;
  cursor: pointer;
}

/* Social Icons */
.footer-items p {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  width: 90%;
  line-height: 1.6;
  display: flex;
}

.social-icon-link {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.social-icon-link:hover {
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media {
  max-width: 62.5rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 3.125rem;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 3rem 0 2rem;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 3.125rem;
}

.social-logo {
  display: flex;
  align-items: center;
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 1.25rem;
}

.fa-mortar-pestle {
  font-size: 1.8125rem;
  margin-left: 0.5rem;
}

.website-rights {
  color: hsl(0, 0%, 100%);
  margin: 2.5rem 2.5rem 0 0;
  text-align: center;
}

/* Media Queries */
@media screen and (min-width: 87.75em) {
  .footer-container {
    padding: 5rem calc((100vw - 81.25rem) / 2);
  }

  .footer-content {
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 60em) {
  .footer-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    padding: 1rem calc((100vw - 81.25rem) / 2);
  }

  .footer-heading {
    padding: 3rem 0 0 0;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    justify-content: center;
    padding: 0;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .social-media-wrap {
    flex-direction: column;
    margin: 0 auto;
  }

  .social-icons {
    position: static;
    margin: 0 0 0 1rem;
  }

  .website-rights {
    margin: 1.5rem 0 2rem 0;
  }
}

@media screen and (max-width: 48em) {
  .footer-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    padding: 1rem calc((100vw - 81.25rem) / 2);
  }

  .footer-heading {
    padding: 3rem 0 0 0;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    justify-content: center;
    padding: 0;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .social-media-wrap {
    flex-direction: column;
    margin: 0 auto;
  }

  .social-icons {
    position: static;
    margin: 0 0 0 1rem;
  }

  .website-rights {
    margin: 1.5rem 0 2rem 0;
  }
}

@media screen and (max-width: 35em) {
  .footer-container {
    padding: 1rem calc((100vw - 81.25rem) / 2);
  }

  .footer-heading {
    padding-bottom: 3rem;
  }

  .footer-content {
    margin: 0 0 0 4rem;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .social-media-wrap {
    margin: 0 auto;
  }
}

@media screen and (max-width: 25.125em) {
  .footer-container {
    width: 100%;
    min-height: 100%;
    padding: 1rem calc((100vw - 81.25rem) / 2);
  }

  .footer-content {
    margin: 0 auto;
    width: 100%;
  }

  .social-logo {
    margin: 0rem 0 0 1.25rem;
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    width: 100%;
  }

  .fa-mortar-pestle {
    font-size: clamp(1.2rem, 2.5vw, 3rem);
  }

  .website-rights {
    margin-top: 1rem;
  }
}