.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(20, 76.3%, 23.1%);
  padding: 5rem calc((100vw - 81.25rem) / 2);
  text-align: center;
}

.footer-heading {
  color: hsl(0, 0%, 100%);
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-transform: uppercase;
}

.footer-content {
  margin: 3rem 0 0 5rem;
  max-width: 40rem;
  width: 100%;
  text-align: left;
}

.footer-wrapper {
  display: flex;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 1rem 3.125rem;
  max-width: 31.25rem;
  width: 50%;
  box-sizing: border-box;
}

.footer-items h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}

.footer-items a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-items a:hover {
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-out;
  cursor: pointer;
}

/* Social Icons */
.footer-items p {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  width: 90%;
  line-height: 1.6;
  display: flex;
}

.social-icon-link {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.social-icon-link:hover {
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media {
  max-width: 62.5rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 3.125rem;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 3rem 0 2rem;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 3.125rem;
}

.social-logo {
  display: flex;
  align-items: center;
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 1.25rem;
}

.fa-mortar-pestle {
  font-size: 1.8125rem;
  margin-left: 0.5rem;
}

.website-rights {
  color: hsl(0, 0%, 100%);
  margin: 2.5rem 2.5rem 0 0;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 60em) {
  .footer-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 150%;
  }

  .footer-heading {
    padding: 3rem 0 0 0;
  }

  .footer-content {
    padding: 0 2rem 2rem 9rem;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
    margin: 2rem 0;
  }

  .social-icons {
    position: static;
    margin: 0 0 0 1rem;
  }

  .website-rights {
    margin: 1.5rem 0 2rem 0;
  }
}

@media screen and (max-width: 48em) {
  .footer-container {
    padding-top: 1.2rem;
  }

  .footer-heading {
    /* margin-left: 0; */
  }

  .footer-content {
    margin-left: auto;
  }

  .footer-items {
    width: 85%;
  }

  .footer-items p {
    justify-items: center;
    font-size: 1.0625rem;
    font-weight: 600;
  }

  .social-media-wrap {
    margin: 1rem 3rem 0 3rem;
  }

  .social-logo {
    width: auto;
  }

  .social-icons {
    margin-top: -0.5rem;
  }

  .website-rights {
    padding-top: 0.625rem;
  }
}

@media screen and (max-width: 35em) {
  .footer-container {
    padding-top: 1.2rem;
    padding-bottom: 2rem;
  }

  .footer-heading {
    margin-left: 0;
    padding-bottom: 1rem;
  }

  .footer-content {
    margin: 0 5rem 0 0;
    height: 50%;
  }

  .social-media-wrap {
    margin-top: 14rem;
  }
}

@media screen and (max-width: 25.125em) {
  .footer-content {
    margin: 0 10rem 0 0;
  }

  .social-logo {
    margin-left: 1.25rem;
  }

}