.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(20, 76.3%, 23.1%);
  padding: 4rem 0 2rem 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 78.75rem;
}

.footer-wrapper {
  display: flex;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 1rem 3.125rem 1rem 3.125rem;
  max-width: 31.25rem;
  width: 50%;
  box-sizing: border-box;
}

.footer-items>h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}

.footer-items a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-items a:hover {
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  ;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-out;
}

/* Social Icons */
.footer-items>p {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  width: 90%;
  line-height: 1.6;
  display: flex;
}

.social-icon-link {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}

.social-icon-link:hover {
  background: linear-gradient(150deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media {
  width: 100%;
  max-width: 62.5rem;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto 0 auto;
  padding-top: 3.125rem;
  width: 90%;
  max-width: 62.5rem;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.5rem;
  position: relative;
  bottom: 0.9375rem;
  margin-right: 9.375rem;
}

.social-logo {
  display: flex;
  justify-self: start;
  align-items: center;
  background: linear-gradient(90deg,
      hsl(20.5, 89%, 64.5%) 0%,
      hsl(120, 60.7%, 33.9%) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 1.25rem;
  position: relative;
  bottom: 0.9375rem;
}

.fa-mortar-pestle {
  font-size: 1.8125rem;
  margin-left: 0.5rem;
}

.website-rights {
  color: hsl(0, 0%, 100%);
  position: relative;
  top: 2.5rem;
  right: 0.625rem;
}

@media screen and (max-width: 60em) {
  .footer-container {
    padding-top: 10.3125rem;
    position: absolute;
  }

  .footer-content {
    padding-top: 2rem;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }

  .social-icons {
    position: relative;
    left: 3.75rem;
  }
}

@media screen and (max-width: 48em) {
  .footer-container {
    padding-top: 11.25rem;
    width: 100%;
    overflow-x: hidden;
  }

  .footer-items {
    width: 85%;
  }

  .footer-items>p {
    display: flex;
    justify-items: center;
    font-size: 1.0625rem;
    font-weight: 600;
  }

  .social-icons {
    display: flex;
    align-self: center;
  }

  .website-rights {
    padding-top: 0.625rem;
    text-align: center;
  }
}