.about-container {
    background: linear-gradient(150deg, hsl(20, 76.3%, 23.1%) 35%, hsl(153.6, 100%, 21%) 100%);
    color: hsl(0, 0%, 100%);
    padding: 5rem calc((100vw - 81.25rem) / 2);
    min-height: 100%;
    width: 100%;
}

.about-container .about-heading {
    font-size: clamp(2rem, 2.5vw, 3rem);
    text-align: center;
    text-transform: uppercase;
}

.about-container>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0 1.875rem 0;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 81.25rem;
}

.about-img {
    background-image: url("../../assets/images/motar.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    width: 100%;
}

@media screen and (max-width: 60em) {
    .about-container .about-heading {
        padding-bottom: 1.5625rem;
    }

    .about-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .about-grid {
        place-items: center;
    }
}

@media screen and (max-width: 48em) {
    .about-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .about-grid {
        place-items: center;
    }
}